.add-item-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-item {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-item__input {
    background: $dark-grey;
    border: none;
    color: $off-white;
    //border-bottom: .3rem solid darken($dark-grey, 10%);
    flex-grow: 1;
    padding: $s-size;
    margin: 0;
}

@media(min-width: $desktop-breakpoint){
    .add-item{
        flex-direction: row;
        padding: $s-size $l-size;
    }

    .add-optin__input{
        margin: 0 $l-size 0 $l-size;
    }
}



