.button {
    background: none;
    color: $dark-cyan;
    border-width: 0.1rem;
    border-color: $dark-cyan;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    color: $off-white;
    font-weight: 500;
    border: none;
}

.button__small {
    background: none;
    color: $dark-cyan;
    border-width: 0.1rem;
    border-color: $dark-cyan;
    font-weight: 200;
    font-size: 1.2rem;
    padding: 0.8rem;
}

