.widget {
    background: $grey;
    margin-bottom: $xl-size;
}

.widget__message {
    color: $dark-cyan;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

.widget-header {
    background: $light-grey;
    color: $dark-cyan;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    
}

.widget-header__title {
    margin: 0;
}

@media(min-width: $desktop-breakpoint){
    .widget-header{
        margin: 0 $l-size;
        font-size: $m-size;
    }
}