//Colors

$dark-grey: #1F2833;
$off-white: #A5Afd7;
$light-grey: #c5c6c7;
$bg-black: #0b0c10;
$cyan: #66fcf1;
$dark-cyan: #45A29E;
$grey: rgb(61, 73, 87);
$light-grey: rgb(75, 95, 119);
//$light-blue: #464b5e;

//Sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem

  